fastapi
uvicorn[standard]
python-dotenv
pdfplumber
python-docx
torch==2.2.2+cpu --extra-index-url https://download.pytorch.org/whl/cpu
sentence-transformers==2.7.0
chromadb==0.5.3
python-jose[cryptography]
passlib[bcrypt]
celery
redis
openai
httpx
python-multipart
numpy
pydantic[email]
email-validator