fastapi
uvicorn[standard]
python-dotenv
pdfplumber
python-docx
sentence-transformers
chromadb==0.5.3
python-jose[cryptography]
passlib[bcrypt]
celery
redis
openai
httpx
python-multipart
numpy
pydantic[email]
email-validator